* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: radial-gradient(circle at top, #3b176b, #0b0218);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.login-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 320px;
  padding: 30px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(170, 100, 255, 0.35);
  box-shadow: 0 0 40px rgba(170, 100, 255, 0.25);
  text-align: center;
}

.login-card h1 {
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 12px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(0,0,0,0.4);
  color: white;
  margin-bottom: 15px;
  text-align: center;
}

.login-card button {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #9b4dff, #5f17d6);
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s;
}

.login-card button:hover {
  box-shadow: 0 0 20px rgba(155, 77, 255, 0.8);
}

.status {
  margin-top: 12px;
  font-size: 12px;
  height: 14px;
}